@CHARSET "UTF-8";

* { font-family: Tahoma; font-size: 14px; }
html, body, div, p { padding: 0; margin: 0; }

*.hide { display: none; }
body > div { padding: 5px; }

div#modal { display: none; }
div#container-top { height: 50px; background-color: #0080c0; color: white; }
div#container-left { width: 220px; float: left; min-height: 700px; overflow: auto; }
div#container-center { margin: 0 0 0 250px; min-height: 700px; min-width: 400px; border-left: 1px solid #0080c0; border-right: 1px solid #0080c0; overflow: auto; }
