<!DOCTYPE html>
<html>
<head>
    <title>Книжечка</title>
    <meta charset="utf-8" />
    <style>
        div.auth { width: 186px; border: 1px solid black; padding: 9px 30px; margin: 150px auto; }
    </style>
</head>
<body>
<div class="auth">
    <form method="post" action="admin.php">
        <input type="hidden" name="s[]" value="auth">
        <p>Логин:<br><input type="text" name="login" value=""></p>
        <p>Пароль:<br><input type="password" name="password" value=""></p>
        <input type="submit" value="Войти">
    </form>
</div>
</body>
</html>
